.bek-histori{
	position: absolute;
	top:176px;
	left: 30%;
}
.container-trans{
	max-width: 635px;
	margin: 0 auto;
}


.user-card{
    margin-top: 300px;
	h2{
		text-align: center;
		color: #000000;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 49px;
		margin-bottom: 141px;
	}

	.bg-card{
		background: #FFFFFF;
		border: 1px solid #E4E4E4;
		box-sizing: border-box;
		border-radius: 10px;
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 28px;
		padding-bottom: 26px;
		margin-bottom: 18px;
		.pass{
			align-items: center;
			//border-bottom: 1px solid #E4E4E4;
			margin-bottom: 40px;
			display: flex;
			padding-bottom: 20px;
			img{
				margin-right: 17px;
			}
			.pass-2{

				span{
					color: #9EA9AB;
					font-style: normal;
					font-weight: 500;
					font-size: 15px;
					line-height: 18px;
				}
				
				h4{
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;
					color: #474948;
					
				}
			}
		}
		.bank-taruf{
			display: flex;
			justify-content: space-between;
			.item{
				.txt{
					color: #9EA9AB;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 25px;
				}
				.txt-2{
					color: #9EA9AB;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 25px;
					text-align: right;
				}

				.vubor{
					color: #FFFFFF;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					background: #0077FF;
					border-radius: 10px;
					padding: 2px 24px;
				}
			}
		}
		form{
			margin-bottom: 120px;
			input{
				width: 100%;
				border-bottom: 1px solid #E2E2E2;
				color: #9EA9AB;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				margin-bottom: 10px;
				&:focus{
					outline: none;
				}
			}
			select{
				width: 100%;
				border-bottom: 1px solid #E2E2E2;
				color: #9EA9AB;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				margin-bottom: 10px;
			}
		}
	}
    .etention{
    	color: #9EA9AB;
    	font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		padding-left: 40px;
    }

    form.name_user{
    	margin-top: 81px;
    	margin-bottom: 200px;
    	input{
			border: 1px solid #E0E0E0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			color: #000000;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
			}
    	}
    	select{
            border: 1px solid #E0E0E0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
			}
    	}
    	.btn{
    		display: flex;
    		    justify-content: end;
    		button{
	    		margin-top: 117px;
	    		background: #0077FF;
				opacity: 0.5;
				border-radius: 10px;
				padding: 10px 24px;
				border: none;
				color: #FFFFFF;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
	    	 }
    	}
    	
    }
    .card{
    	display: flex;
    	justify-content: end;
    }
     
     .pay{
     	margin-bottom: 61px;
     }
    .pay-1{
    	color: #474948;
    	font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;

    }
    form.pay-3{
    	h3{
    		color: #9EA9AB;
    		font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
			margin-top: 73px;
    	}
    	.balans{
    		color: #9EA9AB;
    		font-style: normal;
			font-weight: 500;
			font-size: 20px;
			margin-top: 15px;
    	}
    	.min{
    		color: #9EA9AB;
    		font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
			text-align: center;
			margin-top: 30px;
    	}
    	input{
            border-bottom:  1px solid #E1E1E1;
            border-right: 0;
            border-left: 0;
            border-top: 0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			color: #000000;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			margin-top: 15px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;

			}
    	}
    	.bank_card{
    		display: flex;
    		    align-items: center;
    		    margin-bottom: 133px;
    		input{
    			margin: 0;
    			width: 16px;
    		}
    		label{
    			color: #000000;
    			font-style: normal;
				font-weight: 500;
				font-size: 20px;
    		}
    	}
    	button{
    		margin-top: 133px;
    		background: #0077FF;
			border-radius: 10px;
			padding: 10px 24px;
			color: #FFFFFF;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			border: none;
			display: block;
            margin: 0 auto;
    	}
    }


    form.add_card{
    	
    	input{
            border-bottom:  1px solid #E1E1E1;
            border-right: 0;
            border-left: 0;
            border-top: 0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			color: #000000;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			margin-top: 15px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;

			}
    	}
    	.data_card{
    		display: flex;
         input{
            border-bottom:  1px solid #E1E1E1;
            border-right: 0;
            border-left: 0;
            border-top: 0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			color: #000000;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			margin-top: 15px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;

			}
    	}
      }
    }


     form.name_user-2{
    	margin-top: 81px;
    	margin-bottom: 200px;
    	input{
			border: 1px solid #E0E0E0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			color: #000000;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
			}
    	}
    	select{
            border: 1px solid #E0E0E0;
			box-sizing: border-box;
			border-radius: 10px;
			width: 100%;
			padding: 6px 12px;
			margin-bottom: 23px;
			&::placeholder{
				color: #9EA9AB;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
			}
    	}
    	.btn{
    		text-align: center;
    		button{
	    		margin-top: 69px;
	    		background: #0077FF;
				opacity: 0.5;
				border-radius: 10px;
				padding: 10px 24px;
				border: none;
				color: #FFFFFF;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;

	    	 }
             .bank_card-2{
             	display: flex;
             	align-items: center;
			    justify-content: center;
			    margin-top: 15px;
             	 input{
                   width: 16px;
                   margin-bottom: 0;
	             }
	             label{
					color: #9EA9AB;
					font-style: normal;
					font-weight: 500;
					font-size: 13px;
					line-height: 16px;
	             }
             }
            

    	}
    	
    }

}